.git
.github
.vscode
**/__pycache__/
**/*.pyc

frontend/node_modules/
frontend/dist/

backend/.env
backend/var/
backend/static/uploads/
backend/static/outputs/

backend/src/image_recognition/datasets/
backend/src/image_recognition/datasets.zip
backend/src/image_recognition/backgrounds.pck
backend/src/image_recognition/yolo11n.pt
backend/src/image_recognition/runs/detect/**
!backend/src/image_recognition/runs/
!backend/src/image_recognition/runs/detect/
!backend/src/image_recognition/runs/detect/train5/
!backend/src/image_recognition/runs/detect/train5/weights/
!backend/src/image_recognition/runs/detect/train5/weights/best.pt
