backend/src/image_recognition/datasets
backend/src/image_recognition/datasets.zip
backend/src/image_recognition/backgrounds.pck
backend/src/image_recognition/yolo11n.pt

# Ignore all run files except the final model weights
backend/src/image_recognition/runs/detect/*
!backend/src/image_recognition/runs/detect/
!backend/src/image_recognition/runs/detect/train/
backend/src/image_recognition/runs/detect/train/*
!backend/src/image_recognition/runs/detect/train/weights/

__pycache__/

.vscode/

backend/.env