name: Deploy Backend

on:
  push:
    branches:
      - master
    paths:
      - 'backend/**'
      - 'requirements.txt'
      - 'Dockerfile'
      - '.github/workflows/backend-deploy.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      
      # Example of how you can build and push a Docker image to GitHub Container Registry
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Use shell command to lowercase the repository name to fix "repository name must be lowercase" error
          tags: ghcr.io/joanne-09/mahjong-winner/mahjong-backend:latest
